.usach_div {
  position: relative; /* Tal vez */
  box-sizing: border-box;
  width: 100%; /* Para que ocupe todo el ancho del padre */
  height: 85px;
  background-color: #00a499;
  padding: 15px;
  z-index: 1; /* Asegura que esté por encima de otros elementos */
}

.logo_usach {
  width: 150px;
}
