.navbar {
  width: auto;
  display: flex;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

.panel_lateral {
  width: 0;
  height: 100vh;
  display: flex;
  overflow: scroll;
  background-color: #ffffff;
  flex-direction: column;
  transition: all 0.3s ease;
}

.navbar.open .panel_lateral {
  width: 380px;
}

.caja_boton_panel {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10px 0;
}

.caja_boton_panel button {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #00a499;
  font-size: 20px;
  border: 3px solid #00877d;
}

.titulo {
  padding: 15px;
  color: #394049;
  text-align: center;
}

.opcionesss {
  padding-left: 0;
  list-style-type: none;
}

.opcionesss li {
  border: 2px solid #00877d;
  padding: 15px;
  color: #394049;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #00a499;
  color: #ffffff;
}

/* Ajuste específico para el logo en la parte inferior del navbar */
.navbar-logo {
  flex-grow: 1;
  max-width: 100% !important;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo img {
  max-width: 300px;
  object-fit: contain;
}

/*Pertenencias y Perfil*/
.panel_pertenencias,
.panel_perfil,
.panel_reportes {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background-color: #ffffff;
  z-index: 2; /* Por encima del panel lateral */
  overflow: scroll;
  transition: all 0.3s ease;
}

.panel_pertenencias.open,
.panel_perfil.open,
.panel_reportes.open {
  width: 380px; /* Ocupará todo el ancho */
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .navbar {
    width: 0;
  }

  .navbar.open .panel_lateral {
    width: 100%;
    left: 0;
  }

  .navbar.open {
    width: 100%;
  }

  .caja_boton_panel {
    position: fixed;
    z-index: 2;
    top: 5px;
  }

  .navbar.open .caja_boton_panel {
    right: 20px;
    top: 5px;
  }
  .panel_pertenencias.open,
  .panel_perfil.open,
  .panel_reportes.open {
    width: 100%; /* Ocupará todo el ancho */
  }
}
