.fondo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.f_doble {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 55%;
  justify-content: space-between;
}

.f_formulario {
  position: relative;
  display: flex;
  align-items: center;
  width: 45%;
  max-width: 400px;
  text-align: center;
  padding: 10px;
  color: #333f48;
  border: 2px solid #00a499;
}

.f_formulario input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #00a499;
  /* Ajustado para el borde */
  border-radius: 10px;
  /* Añadido para esquinas redondeadas */
  margin-top: 15px;
  color: #333f48;
  font-size: 20px;
}

.f_ingreso_datos {
  position: relative;
  width: 100%;
}

.f_error {
  display: flex;
  justify-content: center;
}

.error {
  color: #c8102e;
  font-size: large;
  font-weight: 300;
}

.f_formulario button {
  width: 80%;
  margin-top: 20px;
  background-color: #00a499;
  color: white;
  /* Añadido para el color del texto */
  border: none;
  /* Añadido para quitar el borde */
  padding: 10px;
  /* Añadido para el padding */
  cursor: pointer;
  /* Añadido para el cursor */
}

.f_formulario button:hover {
  background-color: #009688;
  /* Añadido para el efecto hover */
}

.f_formulario a {
  color: #333f48;
  margin-top: 15px;
  /* Añadido para el espacio */
}

.f_logo_segura {
  display: flex;
  max-width: 350px;
  align-items: center;
}

.logo_segura {
  width: 100%;
}