.fondo_inicio_sesion {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: scroll;
}

.fondo_login_interface {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fondo_form_and_logo {
  position: relative;
  top: 10px;
  display: flex;
  max-width: 1000px;
  width: 55%;
  min-width: 750px;
  height: 400px;
  justify-content: space-between;
}

.fondo_form_login {
  position: relative;
  display: flex;
  align-items: center;
  width: 45%;
  max-width: 400px;
  text-align: center;
  padding: 10px;
  color: #333f48;
  border: 2px solid #00a499;
}

.fondo_form_login input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  background-color: transparent;
  border: 2px solid #00a499;
  border-radius: 10px;
  margin-top: 15px;
  color: #333f48;
  font-size: 20px;
}
/*
.form_login {
  position: relative;
  width: 100%;
}

.f_error {
  display: flex;
  justify-content: center;
}
*/
.error_feedback {
  color: #c8102e;
  font-size: large;
  font-weight: 300;
}

.fondo_form_login button {
  width: 80%;
  margin-top: 20px;
  background-color: #00a499;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.fondo_form_login button:hover {
  background-color: #009688;
  /* Añadido para el efecto hover */
}

.fondo_form_login a {
  color: #333f48;
  margin-top: 15px;
  /* Añadido para el espacio */
}

.fondo_logo_USegura {
  display: flex;
  max-width: 350px;
  align-items: center;
}

.logo_USegura {
  width: 100%;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  /* Cambia 768px al valor deseado */
  .fondo_form_and_logo {
    flex-direction: column; /* Cambia la dirección del flex */
    align-items: center; /* Centra los hijos en la columna */
    width: 90%; /* Ajusta el ancho si es necesario */
    min-width: 0;
    max-width: 430px;
    height: auto;
  }

  .fondo_form_login,
  .fondo_logo_USegura {
    width: 100%; /* Asegura que ocupen todo el ancho disponible */
    margin-bottom: 20px; /* Añade espacio entre ellos */
  }

  .fondo_logo_USegura {
    margin-bottom: 0; /* Ajusta si necesitas eliminar el último margen */
  }
}
