.navbar {
  width: 460px;
  position: relative;
  left: -380px;
  transition: left 0.3s ease;
  overflow: scroll;
  display: flex;
}

.navbar.open {
  left: 0;
  /* Muestra el navbar */
}

.panel_lateral {
  height: 100vh;
  background-color: #ffffff;
  width: 380px;
  display: flex;
  flex-direction: column;
}

.caja_boton_panel {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: start;
  padding: 10px 0;
}

.caja_boton_panel button {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #00a499;
  font-size: 20px;
}

.titulo {
  padding: 15px;
  color: #394049;
  text-align: center;
}

.opcionesss {
  padding-left: 0;
  list-style-type: none;
}

.opcionesss li {
  border: 1px solid #394049;
  padding: 15px;
  color: #394049;
  font-size: 25px;
  font-weight: 400;
  cursor: pointer;
}

.navbar ul li:hover {
  background-color: #00a499;
  color: #ffffff;
}

/* Ajuste específico para el logo en la parte inferior del navbar */
.navbar-logo {
  flex-grow: 1;
  max-width: 100% !important;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo img {
  max-width: 300px;
  object-fit: contain;
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width: 768px) {
  .navbar {
    width: 100%;
    left: -100%;
  }

  .navbar.open {
    left: 0;
    /* Muestra el navbar en pantallas pequeñas */
  }
}
