.fondo_pagp {
  position: absolute;
  background-color: gainsboro;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.fondo_mapa {
  height: 100%;
  flex-grow: 1;
  transition: flex-grow 0.3s ease;
}

.fondo-mapa-default {
  height: 100vh;
  transition: flex-grow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Estilo del titulo */
.titulo-mapa {
  position: absolute;
  background-color: gainsboro;
  top: 50px;
  z-index: 5;
  color: #333f48;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-mapa h1 {
  margin: 0;
  font-size: 45px;
}
.titulo-mapa h4 {
  font-size: 25px;
  margin: 0;
}


/* Botón flotante para el formulario */
.report-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.report-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.map-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ventana emergente para el reporte generado */
.report-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  background-color: #1c1c1c;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  text-align: left;
}

/* Título de la ventana emergente */
.report-popup h2 {
  text-align: center;
  margin-bottom: 15px;
}

/* Botón para cerrar la ventana emergente */
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.close-popup:hover {
  color: #ff5c5c;
}

/* Detalles del reporte */
.report-popup p {
  font-size: 14px;
  margin: 10px 0;
}

/* Contenedor de fondo para desactivar el resto del contenido mientras la ventana está activa */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

@media screen and (max-width: 768px) {
  .fondo_pagp {
    display: block;
  }

  .fondo_mapa {
    left: 0;
    top: 0;
    width: 100%;
  }
}
