.incident-report-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  padding: 20px;
  overflow: auto; /* Permite el scroll si el contenido excede el tamaño */
  max-height: 90vh; /* Limita la altura del modal */
}
/* Título del formulario */
.report-form h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #2a2a2a;
  font-size: 35px;
}

/* Secciones del formulario */
.report-form section {
  border: 2px solid #333f48;;
  margin: 10px 20px;
}

/* Secciones del formulario */
.report-form h3 {
  color: #333f48;
  font-size: 20px;
  margin: 0;
  padding: 5px;
  padding-left: 15px;
  border-bottom: 2px solid #333f48;
}


/* Estilo para las etiquetas */
.report-form label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  cursor: pointer;
}

/* Contenedores de opciones (radio/checkbox) */
.scrollable-container {
  overflow: scroll;
  background-color: #00a499;
  padding: 5px 10px ;
  max-height: 100px;
}

.scrollable-container label {
  margin: 0;
  font-size: 25px;
}

.scrollable-container label input {
  width: 20px;
  height: 20px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

/* Contenedores de fecha y hora */
.fecha-hora-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #00a499;
}

.fecha-container,
.hora-container {
  width: 45%;
}

.fecha-container label,
.hora-container label {
  font-size: 25px;
}

.fecha-container input,
.hora-container input {
  width: 100%;
  padding: 10px;
  border: 3px solid #009688;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #333f48;
  font-size: 15px;
}

.fecha-container input {
  max-width: 300px;
  /* Ancho máximo para el input de fecha */
}

.hora-container input {
  max-width: 300px;
  /* Ancho máximo para el input de hora */
}

/* Contenedor de botones */
.button-container {
  display: flex;
  justify-content: space-around;  
}

/* Botones */
.button-container button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
}

.button-container button {
  background-color: #00a499;
}

.button-container button:hover {
  background-color: #009688;
}

@media screen and (max-height: 820px) {
  .incident-report-modal {
    position: fixed;
    top: 1px;
    transform: translate(-50%, 0);
  }
}

@media screen and (max-width: 600px) {
  .incident-report-modal {
    width: 100%;
    height: 100%;
    max-height: 100vh; /* Limita la altura a la pantalla */
  }
}